@import '/src/scss/mixins.scss';
.aside {
  &__wrapper {
    width: 233px;
  }
  &__header {
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-top: 2px solid rgb(54, 125, 255);
    border-bottom: 1px dashed rgb(140, 146, 157);
    font-size: 16px;
    color: rgb(51, 51, 51);
  }
  &__btn {
    width: 112px;
    height: 29px;
    line-height: 29px;
    border-radius: 15px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    &-consult {
      @extend .aside__btn;
      width: 110px;
      height: 27px;
      line-height: 27px;
      background: #f6f7fd;
      border: 1px solid rgb(54, 125, 255);
      color: rgb(54, 125, 255);
      margin-right: 8px;
    }
    &-order {
      @extend .aside__btn;
      background: rgb(54, 125, 255);
      color: #fff;
      box-shadow: rgba(15, 81, 254, 0.5) 0 5px 8px;
    }
  }
  &__askList {
    margin-bottom: 33px;
  }
}
.askList {
  &__item {
    margin-top: 33px;
    display: block;
  }
  &__pic {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin-right: 16px;
  }
  &__head {
    margin-bottom: 5px;
    &-name {
      width: 69px;
      display: inline-block;
      margin-right: 12px;
      font-size: 14px;
      color: rgb(140, 146, 157);
      @include ellipsis();
      vertical-align: middle;
    }
    &-ask {
      width: 72px;
      height: 20px;
      line-height: 20px;
      background: rgb(54, 125, 255);
      border-radius: 2px;
      display: inline-block;
      font-size: 12px;
      color: rgb(255, 255, 255);
      padding-left: 4px;
      vertical-align: middle;
    }
    &-icon {
      width: 15px;
      height: 14px;
      display: inline-block;
      background: url('./img/ICON_SAY.png') no-repeat;
      position: relative;
      top: 2px;
    }
  }
  &__credit {
    margin-bottom: 3px;
    &-icon {
      width: 18px;
      height: 17px;
      display: inline-block;
      background: url('./img/icon_zuan.png') no-repeat;
    }
  }
  &__tel {
    font-size: 12px;
    color: rgb(140, 146, 157);
  }
}

.managerList {
  &__head {
    margin: 8px 0;
    &-name {
      font-size: 14px;
      color: #8c929d;

      line-height: 1;
    }
  }
  &__tel {
    font-size: 18px;
    color: #191919;
    line-height: 1;
  }
}

.asidedec {
  &__btn {
    width: 76px;
    height: 20px;
    border-radius: 2px;
    background: #367dff;
    line-height: 20px;
    text-align: center;
    display: block;
    color: #fff;
  }
  &__designer {
    width: 131px;
   
    font-size: 14px;
    color: #333;
    padding-right: 26px;
    line-height: 1;
    span{
      max-width: 104px;
      display: inline-block;
      @include ellipsis();
      // vertical-align: middle;

    }
    i{
      display: inline-block;
      width:22px;
      height:16px;
      vertical-align: 1px;
    }
    &--one {
      background: url('./img/level-01.png?__sprite') no-repeat right center;
    }
    &--two {
      background: url('./img/level-02.png?__sprite') no-repeat right center;
    }
    &--three {
      background: url('./img/level-03.png?__sprite') no-repeat right center;
    }
  }
  &__des{
    font-size:12px;
    width: 157px;
    @include ellipsis();
    color: #8C929D;
    line-height: 1;
    margin: 7px 0;
  }
}
