@import '/src/scss/mixins.scss';
.relate {
  &__header {
    border-bottom:2px solid #EBEDF4;
    &-item {
      position: relative;
      &--active {
        &::before{
          left: 0;
          right: 0;
          height: 2px;
          background:#367dff;
          position: absolute;
          display: block;
          content:'';
          bottom:-2px;
        }
      }
      font-size: 24px;
      color: 333;
      padding-bottom: 10px;
      display: inline-block;
      margin-left: 80px;
      cursor: pointer;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  &__list {
    width: 1200px;
    margin-top: 30px;
    &--relative{
      position:relative;
    }
    &-item {
      
    }
    &-itembox{
      float: left;
      //margin-left: 50px;
      width: 200px;
      &:first-child {
        margin-left: 0;
      }
      padding-right: 50px;
    }
    &-wrapper{
      width: 1200px;
      // height: 257px;

      overflow: hidden;
      position: relative;
    }
    &-img {
      width: 200px;
      height: 200px;
      display: block;
    }
    &-name {
      text-align: center;
      font-size: 16px;
      color: #333;
      line-height: 1;
      margin: 10px 0;
      @include ellipsis();
    }
    &-price {
      font-size: 16px;
      color: #333;
      text-align: center;
      &--red {
        color: #ee206b;
      }
    }
    &-arrow{
      width: 30px;
      height: 40px;
      display: block;
      position: absolute;
      background-image: url('https://static.fdc.com.cn/portal/images/components/waitsellsame_z.png');
      background-repeat: no-repeat;
      top: 105px;
      cursor: pointer;
      
      &--pre{
        @extend .relate__list-arrow;
        background-position: 0px -45px;
        left: 0;
        z-index: 10;
      }
      &--next{
        @extend .relate__list-arrow;
        background-position: 0px 0px;
        right: 0;
        z-index: 10;
      }
    }
  }
}

.swiper-slide{
  // width: 200px!important;
  float: left;
}