<link rel="stylesheet" href="dialog.less">
<!-- 免费通话弹出层 -->
<div id="consultonline">
  <div class="dialogbox">
    <div class="dialog-title">置业顾问在线咨询</div>
    <em class="close"></em>
    <ul class="dialogcontent consultonline-box">
      <li class="consult-item cf">
       <div class="f-l"><img class="consult-photo"  src="http://img3.fdc.com.cn/Newhouse/face/e1eec1b2-c053-4de9-8956-d79428be2add.JPG"></div>
       <div class="f-l consult-right">
        <div class="consult-name"><span class="name">艾兵</span><span class="askinline commonadvisorclass">QQ咨询</span></div>
        <div class="level user_star_level level5"><em></em></div>
        <div class="consult-tel"><em></em>400-027-1717<span>转</span>120659</div>
       </div>
      </li>
      <li class="consult-item cf">
       <div class="f-l"><img class="consult-photo" src="http://img3.fdc.com.cn/Newhouse/face/e1eec1b2-c053-4de9-8956-d79428be2add.JPG"></div>
       <div class="f-l consult-right">
        <div class="consult-name"><span class="name">冰冰</span><span class="askinline commonadvisorclass">在线咨询</span></div>
        <div class="level user_star_level level5"><em></em></div>
        <div class="consult-tel"><em></em>400-027-1717<span>转</span>120659</div>
       </div>
      </li>
      <li class="consult-item cf">
       <div class="f-l"><img  class="consult-photo"  src="http://img3.fdc.com.cn/Newhouse/face/e1eec1b2-c053-4de9-8956-d79428be2add.JPG"></div>
       <div class="f-l  consult-right">
        <div class="consult-name"><span class="name">艾兵</span><span class="askinline commonadvisorclass">在线咨询</span></div>
        <div class="level user_star_level level5"><em></em></div>
        <div class="consult-tel"><em></em>400-027-1717<span>转</span>120659</div>
       </div>
      </li>
      <li class="consult-item cf">
       <div class="f-l"><img  class="consult-photo"  src="http://img3.fdc.com.cn/Newhouse/face/e1eec1b2-c053-4de9-8956-d79428be2add.JPG"></div>
       <div class="f-l consult-right">
        <div class="consult-name"><span class="name">艾兵</span><span class="askinline commonadvisorclass">在线咨询</span></div>
        <div class="level user_star_level level5"><em></em></div>
        <div class="consult-tel"><em></em>400-027-1717<span>转</span>120659</div>
       </div>
      </li>
      <li class="consult-item cf">
       <div class="f-l"><img  class="consult-photo"  src="http://img3.fdc.com.cn/Newhouse/face/e1eec1b2-c053-4de9-8956-d79428be2add.JPG"></div>
       <div class="f-l consult-right">
        <div class="consult-name"><span class="name">艾兵</span><span class="askinline commonadvisorclass">在线咨询</span></div>
        <div class="level user_star_level level5"><em></em></div>
        <div class="consult-tel"><em></em>400-027-1717<span>转</span>120659</div>
       </div>
      </li>
      <li class="consult-item cf">
       <div class="f-l"><img  class="consult-photo"  src="http://img3.fdc.com.cn/Newhouse/face/e1eec1b2-c053-4de9-8956-d79428be2add.JPG"></div>
       <div class="f-l consult-right">
        <div class="consult-name"><span class="name">艾兵艾兵艾兵</span><span class="askinline commonadvisorclass">在线咨询</span></div>
        <div class="level user_star_level level5"><em></em></div>
        <div class="consult-tel"><em></em>400-027-1717<span>转</span>120659</div>
       </div>
      </li>
      <li class="consult-item cf">
       <div class="f-l"><img  class="consult-photo"  src="http://img3.fdc.com.cn/Newhouse/face/e1eec1b2-c053-4de9-8956-d79428be2add.JPG"></div>
       <div class="f-l consult-right">
        <div class="consult-name"><span class="name">艾兵艾兵</span><span class="askinline commonadvisorclass">在线咨询</span></div>
        <div class="level user_star_level level5"><em></em></div>
        <div class="consult-tel"><em></em>400-027-1717<span>转</span>120659</div>
       </div>
      </li>
      <li class="consult-item cf">
       <div class="f-l"><img  class="consult-photo"  src="http://img3.fdc.com.cn/Newhouse/face/e1eec1b2-c053-4de9-8956-d79428be2add.JPG"></div>
       <div class="f-l consult-right">
        <div class="consult-name"><span class="name">艾兵</span><span class="askinline commonadvisorclass">在线咨询</span></div>
        <div class="level user_star_level level5"><em></em></div>
        <div class="consult-tel"><em></em>400-027-1717<span>转</span>120659</div>
       </div>
      </li>
    </ul>
  </div>
  <div class="dialogmask"></div>
</div>
<script src="dialog.js"></script>


