<link rel="stylesheet" href="leftbaidumap.less">
<div class="container-main mt30">
  <input type="hidden" class="aroundHouseData" value="{
    '住宅': [{
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'address': '硚口区古田二路长升路与丰茂路交汇处',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'lng': 114.201171,
      'distance': 0.01356450754727269,
      'tell': '101053',
      'title': '海联时代广场',
      'issaleout': 'x201',
      'pinyin': 'hlsdgc',
      'residentialName': '海联时代广场',
      'price': '15000',
      'averagePrice': 15000,
      'id': '4E7CCCC0-CC93-4926-9583-125048273133',
      'titleurl': 'http://hlsdgc.wh.test.fdc.com.cn',
      'lat': 30.612839,
      'status': '在售',
      'remain_count': 100
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'address': '硚口区古田二路长升路与丰茂路交汇处',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'lng': 114.201171,
      'distance': 0.01356450754727269,
      'tell': '101053',
      'title': '海联时代广场',
      'issaleout': 'x201',
      'pinyin': 'hlsdgc',
      'residentialName': '海联时代广场',
      'price': '15000',
      'averagePrice': 15000,
      'id': '4E7CCCC0-CC93-4926-9583-125048273133',
      'titleurl': 'http://hlsdgc.wh.test.fdc.com.cn',
      'lat': 30.612839,
      'status': '在售',
      'remain_count': 101
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'address': '硚口区古田二路长升路与丰茂路交汇处',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'lng': 114.201171,
      'distance': 0.01356450754727269,
      'tell': '101053',
      'title': '海联时代广场',
      'issaleout': 'x201',
      'pinyin': 'hlsdgc',
      'residentialName': '海联时代广场',
      'price': '15000',
      'averagePrice': 15000,
      'id': '4E7CCCC0-CC93-4926-9583-125048273133',
      'titleurl': 'http://hlsdgc.wh.test.fdc.com.cn',
      'lat': 30.612839,
      'status': '在售',
      'remain_count': 101
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'address': '硚口区古田二路长升路与丰茂路交汇处',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'lng': 114.201171,
      'distance': 0.01356450754727269,
      'tell': '101053',
      'title': '海联时代广场',
      'issaleout': 'x201',
      'pinyin': 'hlsdgc',
      'residentialName': '海联时代广场',
      'price': '15000',
      'averagePrice': 15000,
      'id': '4E7CCCC0-CC93-4926-9583-125048273133',
      'titleurl': 'http://hlsdgc.wh.test.fdc.com.cn',
      'lat': 30.612839,
      'status': '在售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'address': '硚口区古田二路长升路与丰茂路交汇处',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'lng': 114.201171,
      'distance': 0.01356450754727269,
      'tell': '101053',
      'title': '海联时代广场',
      'issaleout': 'x201',
      'pinyin': 'hlsdgc',
      'residentialName': '海联时代广场',
      'price': '15000',
      'averagePrice': 15000,
      'id': '4E7CCCC0-CC93-4926-9583-125048273133',
      'titleurl': 'http://hlsdgc.wh.test.fdc.com.cn',
      'lat': 30.612839,
      'status': '在售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'address': '硚口区古田二路长升路与丰茂路交汇处',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2013/09/09/09512355.jpg',
      'lng': 114.201171,
      'distance': 0.01356450754727269,
      'tell': '101053',
      'title': '海联时代广场',
      'issaleout': 'x201',
      'pinyin': 'hlsdgc',
      'residentialName': '海联时代广场',
      'price': '15000',
      'averagePrice': 15000,
      'id': '4E7CCCC0-CC93-4926-9583-125048273133',
      'titleurl': 'http://hlsdgc.wh.test.fdc.com.cn',
      'lat': 30.612839,
      'status': '在售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2016/07/19/11183373.jpg',
      'address': '武汉市硚口区古田二路和广华路交汇口',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2016/07/19/11183373.jpg',
      'lng': 114.210127,
      'distance': 0.014672400553420313,
      'tell': '101109',
      'title': '美好香域花境',
      'issaleout': 'x202',
      'pinyin': 'mhxyhj',
      'residentialName': '美好香域花境',
      'price': '待定',
      'averagePrice': 0,
      'id': '55F23C93-2CBE-4A29-9841-D4346C2D85B5',
      'titleurl': 'http://mhxyhj.wh.test.fdc.com.cn',
      'lat': 30.626366,
      'status': '待售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2016/09/20/16165827.jpg',
      'address': '硚口区古田二路园博园西入口旁',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2016/09/20/16165827.jpg',
      'lng': 114.211043,
      'distance': 0.01581523853756603,
      'tell': '100929',
      'title': '华润翡翠城',
      'issaleout': 'x201',
      'pinyin': 'hrqcc',
      'residentialName': '华润翡翠城',
      'price': '待定',
      'averagePrice': 0,
      'id': 'D61D1BEC-D56C-411F-B1CC-E9F152C58BCD',
      'titleurl': 'http://hrqcc.wh.test.fdc.com.cn',
      'lat': 30.628106,
      'status': '在售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2015/04/22/18133824.jpg',
      'address': '解放大道以南，紧邻古田一路轻轨站',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2015/04/22/18133824.jpg',
      'lng': 114.188388,
      'distance': 0.01670540188082776,
      'tell': '101023',
      'title': '汉江湾壹号',
      'issaleout': 'x201',
      'pinyin': 'hjwyh',
      'residentialName': '汉江湾壹号',
      'price': '15000',
      'averagePrice': 15000,
      'id': 'E06B2034-3A6C-450B-A2FD-10CAFCDB4196',
      'titleurl': 'http://hjwyh.wh.test.fdc.com.cn',
      'lat': 30.610049,
      'status': '在售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2013/12/02/11111306.jpg',
      'address': '武汉市硚口区古田二路（汇丰企业总部对面）',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2013/12/02/11111306.jpg',
      'lng': 114.207288,
      'distance': 0.019349239390740864,
      'tell': '101419',
      'title': '天宇万象国际',
      'issaleout': 'x201',
      'pinyin': 'tywxgj',
      'residentialName': '天宇万象国际',
      'price': '15000',
      'averagePrice': 15000,
      'id': 'D8A27FCC-C1A6-442A-B53B-E387D4A1DB90',
      'titleurl': 'http://tywxgj.wh.test.fdc.com.cn',
      'lat': 30.609816,
      'status': '在售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2013/10/16/15120182.jpg',
      'address': '武汉市东西湖区金银湖路金盛家居旁（中百仓储附近）',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2013/10/16/15120182.jpg',
      'lng': 114.210746,
      'distance': 0.01953265954753633,
      'tell': '101230',
      'title': '裕亚银湖城',
      'issaleout': 'x201',
      'pinyin': 'yyyhc',
      'residentialName': '裕亚银湖城',
      'price': '待定',
      'averagePrice': 0,
      'id': '22B5E9D8-58C0-44DC-8306-B3684435CE6A',
      'titleurl': 'http://yyyhc.wh.test.fdc.com.cn',
      'lat': 30.637378,
      'status': '在售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2016/02/19/14232381.jpg',
      'address': '金银湖南一街与环湖西路交汇处',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2016/02/19/14232381.jpg',
      'lng': 114.201979,
      'distance': 0.020176211388661183,
      'tell': '101126',
      'title': '金湖听语',
      'issaleout': 'x202',
      'pinyin': 'jhty',
      'residentialName': '金湖听语',
      'price': '待定',
      'averagePrice': 0,
      'id': '02CF6FE7-BD04-4EB2-82EB-EDA2E84265EE',
      'titleurl': 'http://jhty.wh.test.fdc.com.cn',
      'lat': 30.644272,
      'status': '待售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/NewHouse/xg/2016/09/06/11385063.jpg',
      'address': '硚口区古田二路与南泥湾大道交汇处',
      'coverImg': 'http://img3.fdc.com.cn/NewHouse/xg/2016/09/06/11385063.jpg',
      'lng': 114.205258,
      'distance': 0.02097051768555246,
      'tell': '101291',
      'title': '海尔地产国际广场',
      'issaleout': 'x201',
      'pinyin': 'hegjgc',
      'residentialName': '海尔地产国际广场',
      'price': '待定',
      'averagePrice': 0,
      'id': '98D68DC8-5471-4842-AA0B-3042CF3297D0',
      'titleurl': 'http://hegjgc.wh.test.fdc.com.cn',
      'lat': 30.606599,
      'status': '在售',
      'remain_count': 103
    }, {
      'img': 'http://img3.fdc.com.cn/Newhouse/xg/2016/03/24/11211993.jpg',
      'address': '武汉市硚口区解放大道与古田二路的交汇处（古田二路轻轨站A出口即到）',
      'coverImg': 'http://img3.fdc.com.cn/Newhouse/xg/2016/03/24/11211993.jpg',
      'lng': 114.201817,
      'distance': 0.022356828442338564,
      'tell': '100535',
      'title': '凯德西城',
      'issaleout': 'x201',
      'pinyin': 'kdxc',
      'residentialName': '凯德西城',
      'price': '17000',
      'averagePrice': 17000,
      'id': '6CD31B26-3951-4EA6-B887-6B94E3B2853F',
      'titleurl': 'http://kdxc.wh.test.fdc.com.cn',
      'lat': 30.603716,
      'status': '在售',
      'remain_count': 103
    }, {
      'address': '硚口区古田二路凯德广场南向约400米',
      'lng': 114.196528,
      'distance': 0.02466426615571717,
      'tell': '100579',
      'title': '金地悦江时代',
      'issaleout': 'x202',
      'pinyin': 'jdyjsd',
      'residentialName': '金地悦江时代',
      'price': '待定',
      'id': '58295a85b578b67aa3678be0',
      'titleurl': 'http://jdyjsd.wh.test.fdc.com.cn',
      'lat': 30.60052,
      'status': '待售',
      'remain_count': 1033
    }]
  }">
  <div class="bmap">
    <div class="title title-full cf">
      <div class="around-tab">
        <h3 class="name active f-l">周边配套地图</h3>
        <h3 class="name f-l">周边街景</h3>
      </div>
      <!--  <ul class="f-r around-tab cf">
       <li class="f-l active">交通地图</li>
       <li class="f-l">周边街景</li>
     </ul> -->
    </div>
    <div class="bmap-box">
      <div id="bmap" class="mapState cur" data-city="武汉" data-price="12000" data-lng="114.195504" data-lat="30.625163" data-title="蓝光林肯公园"></div>
      <div id="panorama" class="mapState">
      </div>
      <!--     <div class="search-box">
    <div class="in">
      <div class="search-result">
        <div class="maptitle cf">
          <span class="titlename f-l">周边2公里内的楼盘</span>
          <a class="viewmore f-r" href="JavaScript:void(0);">更多</a>
        </div>
        <div class="con" id="resplane">
          <ul class="map_ipt" style="display: block;">
            <li><input type="text" class="ipt_txt" name="" id="sstartname" value="北大资源山水年华" onfocus="this.className='ipt_txt_focus';"
                onblur="this.className='ipt_txt';"></li>
            <li><input type="text" class="ipt_txt" name="" id="sendname" value="请输入终点" onfocus="this.className='ipt_txt_focus';"
                onblur="this.className='ipt_txt';"></li>
            <li><input type="button" class="ipt_btn" value="获取线路" onclick="fBMap.busClick();"></li>
            <li class="change">
              <a href="javascript:void(0)" onclick="fBMap.busChang();"></a>
            </li>
          </ul>

          <div id="00" class="mb10" style="display: none;">
            <dt>住宅</dt>
            <dd><a href="#" title="万龙中央公园"><span class="d1">313米</span><span class="d2"><em>5000</em>元/平方米</span>万龙中央</a></dd>
            <dd><a href="#" title="沁园首府"><span class="d1">598米</span><span class="d2"><em>4600</em>元/平方米</span>沁园首府</a></dd>
            <dd><a href="#" title="大拇指广场"><span class="d1">689米</span><span class="d2"><em>4700</em>元/平方米</span>大拇指广</a></dd>
            <dd><a href="#" title="万龙中央公园"><span class="d1">313米</span><span class="d2"><em>5000</em>元/平方米</span>万龙中央</a></dd>
            <dd><a href="#" title="沁园首府"><span class="d1">598米</span><span class="d2"><em>4600</em>元/平方米</span>沁园首府</a></dd>
            <dd><a href="#" title="大拇指广场"><span class="d1">689米</span><span class="d2"><em>4700</em>元/平方米</span>大拇指广</a></dd>
            <dd><a href="#" title="万龙中央公园"><span class="d1">313米</span><span class="d2"><em>5000</em>元/平方米</span>万龙中央</a></dd>
            <dd><a href="#" title="沁园首府"><span class="d1">598米</span><span class="d2"><em>4600</em>元/平方米</span>沁园首府</a></dd>
            <dd><a href="#" title="大拇指广场"><span class="d1">689米</span><span class="d2"><em>4700</em>元/平方米</span>大拇指广</a></dd>
            <dd><a href="#" title="万龙中央公园"><span class="d1">313米</span><span class="d2"><em>5000</em>元/平方米</span>万龙中央</a></dd>
            <dd><a href="#" title="沁园首府"><span class="d1">598米</span><span class="d2"><em>4600</em>元/平方米</span>沁园首府</a></dd>
            <dd><a href="#" title="大拇指广场"><span class="d1">689米</span><span class="d2"><em>4700</em>元/平方米</span>大拇指广</a></dd>
          </div>
        </div>
      </div>
    </div>
  </div> -->
      <div class="search-box">
        <div class="in">

          <div class="search-result">
            <div class="maptitle">
              <div class="in">
                <ul>
                  <li onclick="fBMap.nearbySearch(this,'交通',['地铁','公交','停车场','加油站'],true)">交通</li>
                  <li onclick="fBMap.nearbySearch(this,'娱乐',['KTV','酒吧','电影院','美容院','咖啡厅'],true)">娱乐</li>
                  <li onclick="fBMap.nearbySearch(this,'超市','超市',true)">超市</li>
                  <li onclick="fBMap.nearbySearch(this,'餐饮','餐饮',true)">餐饮</li>
                  <li onclick="fBMap.nearbySearch(this,'银行','银行',true)">银行</li>
                  <li onclick="fBMap.nearbySearch(this,'医院','医院',true)">医院</li>
                  <li onclick="fBMap.nearbySearch(this,'学校',['幼儿园','小学','中学','大学'],true)">学校</li>
                  <li onclick="fBMap.nearHouse(this)" class="set">周边楼盘</li>
                </ul>
                <!--<span>依山龙郡周边楼盘</span>
                <a href="javascript:void(0)">返回</a>-->
              </div>
            </div>
            <div class="con" id="resplane">
              <!-- <ul class="map_ipt" style="display: block;">
                <li><input type="text" class="ipt_txt" name="" id="sstartname" value="北大资源山水年华" onfocus="this.className='ipt_txt_focus';" onblur="this.className='ipt_txt';"></li>
                <li><input type="text" class="ipt_txt" name="" id="sendname" value="请输入终点" onfocus="this.className='ipt_txt_focus';" onblur="this.className='ipt_txt';"></li>
                <li><input type="button" class="ipt_btn" value="获取线路" onclick="fBMap.busClick();"></li>
                <li class="change"><a href="javascript:void(0)" onclick="fBMap.busChang();"></a></li>
              </ul> -->

              <!-- <div id="00" class="mb10" style="display: none;">
                <dt>住宅</dt>
                <dd><a href="#" title="万龙中央公园" ><span class="d1">313米</span><span class="d2"><em>5000</em>元/平方米</span>万龙中央</a></dd>
                <dd><a href="#" title="沁园首府"><span class="d1">598米</span><span class="d2"><em>4600</em>元/平方米</span>沁园首府</a></dd>
                <dd><a href="#" title="大拇指广场"><span class="d1">689米</span><span class="d2"><em>4700</em>元/平方米</span>大拇指广</a></dd>
                <dd><a href="#" title="万龙中央公园" ><span class="d1">313米</span><span class="d2"><em>5000</em>元/平方米</span>万龙中央</a></dd>
                <dd><a href="#" title="沁园首府"><span class="d1">598米</span><span class="d2"><em>4600</em>元/平方米</span>沁园首府</a></dd>
                <dd><a href="#" title="大拇指广场"><span class="d1">689米</span><span class="d2"><em>4700</em>元/平方米</span>大拇指广</a></dd>
                <dd><a href="#" title="万龙中央公园" ><span class="d1">313米</span><span class="d2"><em>5000</em>元/平方米</span>万龙中央</a></dd>
                <dd><a href="#" title="沁园首府"><span class="d1">598米</span><span class="d2"><em>4600</em>元/平方米</span>沁园首府</a></dd>
                <dd><a href="#" title="大拇指广场"><span class="d1">689米</span><span class="d2"><em>4700</em>元/平方米</span>大拇指广</a></dd>
                <dd><a href="#" title="万龙中央公园" ><span class="d1">313米</span><span class="d2"><em>5000</em>元/平方米</span>万龙中央</a></dd>
                <dd><a href="#" title="沁园首府"><span class="d1">598米</span><span class="d2"><em>4600</em>元/平方米</span>沁园首府</a></dd>
                <dd><a href="#" title="大拇指广场"><span class="d1">689米</span><span class="d2"><em>4700</em>元/平方米</span>大拇指广</a></dd>
              </div> -->
            </div>
          </div>
          <!-- <div class="switch-btn" onclick="fBMap.toggleSearch()"></div> -->
        </div>
      </div>

    </div>
  </div>
</div>




<!--周边搜索楼盘弹窗模板开始-->
<script type="text/template" id="infowinmb">
  <div class='ib_out' id='info{i}' index='{i}'>
    <div class='ib_up'>
      <div class='ibtitle'>
        <a href='{titleurl}' target='_blank'>{title}</a>
        <em>{status}</em>
      </div>
      <div class='content cf'>
        <div class='left_box'>
          <ul>
            <li>
              <span class='price'>{price}</span>元/平方米</li>
            <li>
              <span class='address'>位置：{address}</span>
            </li>
          </ul>
        </div>
        <div class='right_box'>
          <a href='{titleurl}' target='_blank'>
            <img src='{img}'>
          </a>
        </div>
      </div>
    </div>
    <div class='ib_down'>
      <ul class='cf'>
        <li class='set0'>
          <i class='i0'></i>到这里去</li>
        <li>
          <i class='i1'></i>从这里出发</li>
        <li>
          <i class='i2'></i>在附近找</li>
      </ul>
      <div class='inp'>
        起点
        <input type='text' class='inp_text'>
        <span class='inp_submit' end='{title}' leibe='11'>
          <a href='javascript:void(0)'>公交</a>
        </span>
        <span class='inp_submit' end='{title}' leibe='12'>
          <a href='javascript:void(0)'>驾车</a>
        </span>
      </div>
      <div class='inp' style='display: none;'>
        终点
        <input type='text' class='inp_text'>
        <span class='inp_submit' start='{title}' leibe='21'>
          <a href='javascript:void(0)'>公交</a>
        </span>
        <span class='inp_submit' start='{title}' leibe='22'>
          <a href='javascript:void(0)'>驾车</a>
        </span>
      </div>
      <div class='inp' style='display: none;'>
        <a href='javascript:void(0)' onclick="fBMap.nearbySearch('','餐饮','餐饮',false,{lng},{lat},'{title}')">餐馆</a>
        <a href='javascript:void(0)' onclick="fBMap.nearbySearch('','银行','银行',false,{lng},{lat},'{title}')">银行</a>
        <a href='javascript:void(0)' onclick="fBMap.nearbySearch('','医院','医院',false,{lng},{lat},'{title}')">医院</a>
        <a href='javascript:void(0)' onclick="fBMap.nearbySearch('','公交','公交',false,{lng},{lat},'{title}')">公交车</a>
        <input type='text' class='inp_text2'>
        <span class='inp_submit' leibe='31' lng='{lng}' lat='{lat}' title='{title}'>
          <a href='javascript:void(0)'>查找</a>
        </span>
      </div>
    </div>
    <div class='fore'></div>
    <div class='close'></div>
  </div>
</script>
<!--ignore-->
<!--周边搜索楼盘弹窗模板结束-->

<!--周边搜索弹窗模板2开始-->
<script type="text/template" id="infowinmb2">
  <div class='ib_out' id='info{i}' index='{i}'>
    <div class='ib_up'>
      <div class='ibtitle'>{title}</div>
      <div class='content cf'>
        地址：{address}
        <br> 电话：暂无
      </div>
    </div>
    <div class='ib_down'>
      <ul class="two">
        <li class='set0'>
          <i class='i0'></i>到这里去</li>
        <li>
          <i class='i1'>&nbsp;</i>从这里出发</li>
      </ul>
      <div class='inp'>
        起点
        <input type='text' class='inp_text'>
        <span class='inp_submit' end='{title}' leibe='11'>
          <a href='javascript:void(0)'>公交</a>
        </span>
        <span class='inp_submit' end='{title}' leibe='12'>
          <a href='javascript:void(0)'>驾车</a>
        </span>
      </div>
      <div class='inp' style='display: none;'>
        终点
        <input type='text' class='inp_text'>
        <span class='inp_submit' start='{title}' leibe='21'>
          <a href='javascript:void(0)'>公交</a>
        </span>
        <span class='inp_submit' start='{title}' leibe='22'>
          <a href='javascript:void(0)'>驾车</a>
        </span>
      </div>
    </div>
    <div class='fore'></div>
    <div class='close'></div>
  </div>
</script>
<!--ignore-->
<!--周边搜索弹窗模板结束-->


<!-- 百度地图 -->
<script data-loader src="http://api.map.baidu.com/api?v=2.0&amp;ak=SvVTMGOPXvHry8MXfpjiUGwR"></script>
<script data-loader src="/libs/bmap/InfoBox_min.js"></script>
<script data-loader src="/libs/bmap/RichMarker_min.js"></script>
<script src="BMap.js"></script>
<script src="leftbaidumap.js"></script>